<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html><head>
<title>Remote LogSync</title>
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="styles/landing.css") }}'/>
<script src="{{ url_for('static', filename='scripts/jquery-1.11.0.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/jquery-ui-1.10.4.custom.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/jqueryFileTree/jqueryFileTree.js') }}"></script>
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='scripts/jqueryFileTree/jqueryFileTree.css') }}" />
<script>
function get_heartbeat() {
	$.ajax({
   			url: '{{ url_for("check_heartbeat") }}',
   			success: function(result) {
   				if (result == 'ALIVE') {
	   				$('#beacon').effect('highlight', {color: '#74F7A7'}, 400);
					$('#beacon').html('<h1 class="heartbeat_box">Heartbeat Detected</h1>');
				}
	   			else if (result == 'DEAD') {
	   				$('#beacon').animate({backgroundColor: '#F5BAC5'});
					$('#beacon').html('<h1 class="heartbeat_box">Client Dead</h1>');
				}
                else if (result == 'UNKNOWN') {
                    $('#beacon').animate({backgroundColor: '#F5F7A3'});
                    $('#beacon').html('<h1 class="heartbeat_box">Client Dead</h1>');
                }
                else {
                    $('#beacon').animate({backgroundColor: '#F5BAC5'});
                    $('#beacon').html('<h1 class="heartbeat_box">Tampering Detected</h1>');
                    $('#tampered_files').html('Tampered files: '+ result.split(' ')[1]);
                    $('#last_tampered_time').html('Last tampering detected: '+ result.split(' ')[0]);
                    $('#tamper_stats').show();
                }
    		},
    	});
}

$(document).ready(
    function() {
        $('#tamper_stats').hide();
        $('#filesystem').fileTree({root: '{{ backup_path }}', script: 'filesystem',
                                   multifolder: true }, function(file) {
            alert(file);
        });
});

</script>
</head>

<body>
<div class='container'>
	<div id='main_heading'>
        <span id='title'><h1>Remote LogSync</h1></span>
        <span id='settings_button'>
            <a href='{{ url_for("settings") }}'>
                <img src='{{ url_for('static', filename='images/gear-xxl.png') }}'>
            </a>
        </span>
    </div>

    <div id='stat'>
    	<script type='text/javascript'>
	 	    setInterval(get_heartbeat, parseInt('{{ heartbeat_timing }}')/4 * 1000);
	    </script>
	    <div id="beacon"><h1 class="heartbeat_box">Heartbeat Detected</h1></div>
    </div>

    <div id='tamper_stats'>
        <ul>
            <li><p id="tampered_files"></p></li>
            <li><p id="last_tampered_time"></p></li>
        </ul>
    </div>

    <h1 id='files_title'>Backed up Log Files</h1>
    <div id='filesystem'>
    </div>

</body> </html>
