* {
	margin: 0px;
	padding: 0px;
	font-size: 10px;
}

body {
	background-color: gray;
}

.container {
	background-color: #E8E6E7;
	width: 800px;
	margin: 0 auto;
	height: 100%;
	border: 1px solid black;
}

#main_heading {
	color: white;
	background-color: black;
	padding-bottom: 10px;
	font-family: 'Geneva', sans-serif;
}

	#main_heading h1 {
		padding: 10px 0px 0px 10px;
		font-size: 3em;
	}

#title {
	float: left;
	width: 91%;
}

#settings_button img {
	padding-top: 8px;
	height: 50px;
	width: 50px;
}

h1#files_title {
	padding: 5px 5px;
	text-align: center;
	font-size: 2em;
	color: white;
	background-color: #525151;
	font-family: 'Geneva', sans-serif;
}

#filesystem {
	padding: 10px;
	height: 400px;
}

#beacon {
	background-color: white;
}

.heartbeat_box {
	padding: 8px 8px;
	text-align: center;
	font-size: 2.7em;
	font-family: 'Geneva', sans-serif;
}

#tamper_stats {
	font-size: 2.5em;
	font-family: 'Geneva', sans-serif;
}

#tamper_stats h1 {
	font-size: 2em;
	background-color: #525151;
	font-family: 'Geneva', sans-serif;
}

#tamper_stats ul {
	list-style: none;
}
